<!--
  Generated template for the PersonalDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="app">
    <ion-title>Personal Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<form [formGroup]="personal">
		<ion-list>
			<div padding>
				<ion-item>
					<ion-label floating>Father's / Spouse's Name</ion-label>
					<ion-input formControlName="f1_mfname" type="text"></ion-input>
				</ion-item>
				<div *ngIf="!personal.controls.f1_mfname.valid  && (personal.controls.f1_mfname.dirty || submitAttempt)">
					<p *ngIf="personal.controls.f1_mfname.errors.required">Please enter a valid name.</p>
					<p *ngIf="personal.controls.f1_mfname.errors.maxlength">Length shoud be equal to or smaller than {{personal.controls.f1_mfname.errors.maxlength.requiredLength}}</p>
				</div>
				<ion-item>
					<ion-label floating>Mother's Name</ion-label>
					<ion-input formControlName="f1_mmname" type="text"></ion-input>
				</ion-item>
				<div *ngIf="!personal.controls.f1_mmname.valid  && (personal.controls.f1_mmname.dirty || submitAttempt)">
					<p *ngIf="personal.controls.f1_mmname.errors.required">Please enter a valid name.</p>
					<p *ngIf="personal.controls.f1_mmname.errors.maxlength">Length shoud be equal to or smaller than {{personal.controls.f1_mmname.errors.maxlength.requiredLength}}</p>
				</div>

				<ion-item>
					<ion-label floating>Date of Birth</ion-label>
					<ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MMM YYYY" formControlName="f1_dob"></ion-datetime>
				</ion-item>
				<div *ngIf="!personal.controls.f1_dob.valid  && (personal.controls.f1_dob.dirty || submitAttempt)">
					<p *ngIf="personal.controls.f1_dob.errors.required">Please enter a valid Date.</p>
				</div>
				<ion-item *ngIf="personal.controls.f1_dob.value">
					Age : {{personal.controls.f1_age.value}}
				</ion-item>

				<ion-item>
					<ion-label floating>Alternate Mobile no.</ion-label>
					<ion-input formControlName="f1_altno" type="number"></ion-input>
				</ion-item>
				<div *ngIf="!personal.controls.f1_altno.valid  && (personal.controls.f1_altno.dirty || submitAttempt)">
					<p>Please enter a 10 digit valid mobile no.</p>
				</div>

				<ion-item>
					<ion-label floating>Any Other ID Proof? </ion-label>
					<ion-select formControlName="any_other_select" interface="popover">
						<ion-option value="yes">Yes</ion-option>
						<ion-option value="no">No</ion-option>
					</ion-select>
				</ion-item>
				<div *ngIf="!personal.controls.any_other_select.valid  && (personal.controls.any_other_select.dirty || submitAttempt)">
					<p>Please select this field is required</p>
				</div>
				<div *ngIf="personal.controls.any_other_select.value == 'yes'">
					<ion-item>
						<ion-label floating>Passport No.</ion-label>
						<ion-input formControlName="f1_ppno" type="text"></ion-input>
					</ion-item>
					<div *ngIf="!personal.controls.f1_ppno.valid  && (personal.controls.f1_ppno.dirty || submitAttempt)">
						<p>Please enter a 12 digit valid Passport no.</p>
					</div>

					<ion-item>
						<ion-label floating>Pan Card</ion-label>
						<ion-input formControlName="f1_pancard" type="text"></ion-input>
					</ion-item>
					<div *ngIf="!personal.controls.f1_pancard.valid  && (personal.controls.f1_pancard.dirty || submitAttempt)">
						<p>Please enter a 10 digit valid mobile no.</p>
					</div>

					<ion-item>
						<ion-label floating>Voting No.</ion-label>
						<ion-input formControlName="f1_vote" type="text"></ion-input>
					</ion-item>
					<div *ngIf="!personal.controls.f1_vote.valid  && (personal.controls.f1_vote.dirty || submitAttempt)">
						<p>Please enter a 12 digit valid Voting no.</p>
					</div>

					<ion-item>
						<ion-label floating>Driving Licence No.</ion-label>
						<ion-input formControlName="f1_licno" type="text"></ion-input>
					</ion-item>
					<div *ngIf="!personal.controls.f1_licno.valid  && (personal.controls.f1_licno.dirty || submitAttempt)">
						<p>Please enter a 12 digit valid Driving Licence no.</p>
					</div>
					
					<ion-item>
						<ion-label floating>Any Other No.</ion-label>
						<ion-input formControlName="f1_otherno" type="text"></ion-input>
					</ion-item>
					<div *ngIf="!personal.controls.f1_otherno.valid  && (personal.controls.f1_otherno.dirty || submitAttempt)">
						<p>Please enter a valid no (Max 20 characters).</p>
					</div>
				</div>

				<ion-item>
					<ion-label floating>Experience In Farming (In Years)</ion-label>
					<ion-input formControlName="f1_expfarm" type="number"></ion-input>
				</ion-item>
				<div *ngIf="!personal.controls.f1_expfarm.valid  && (personal.controls.f1_expfarm.dirty || submitAttempt)">
					<p>Please enter a valid no of year (max 99).</p>
				</div>

			</div>
		</ion-list>
	</form>
	<div class="list-retry" padding *ngIf="retryButton">
		<div padding class="img-error"></div>
		<h6>Oops! something went wrong.</h6>
		<div>
			<button ion-button color="light" (click)="ionViewDidLoad()">Retry</button>
		</div>
	</div>
	<ion-fab top right edge>
		<button (click)="save()" ion-fab>
			<ion-icon name="checkmark"></ion-icon>
		</button>
	</ion-fab>

</ion-content>
