<ion-content scroll="false">
  <div class="splash-bg"></div>
  <div class="splash-info">
    <div class="splash-logo" style="background: url('../assets/img/images.jpg') repeat transparent;"></div>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <div padding>
            <ion-list>
              <button ion-item *ngFor="let form of forms" (click)="onTap(form.pageName)" no-lines>
                <ion-icon name="{{form.icon}}" item-start></ion-icon>
                {{form.title}}
                <!-- <ion-badge item-end color="{{ form.point <= 10 ? 'danger' : (form.point >= 50 ? 'secondary' : 'primary') }}">{{form.point}}</ion-badge> -->
                <ion-icon name="checkmark-circle" color="{{ form.isUpdated ? 'secondary' : 'light'}}" item-end></ion-icon>
              </button>
            </ion-list>
<!-- 
            <ion-grid *ngIf="form_name=='Documents'">
              <ion-row *ngFor="let image of images">
                <ion-col width-50 *ngFor="let uri of row">
                  <img [src]="file_uri">
                </ion-col>
              </ion-row>
            </ion-grid> -->
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>