<ion-header>
	<ion-navbar color="app">
		<ion-title>{{user_name}}</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<form [formGroup]="personal">
		<ion-list>
			<div padding>
				
				<ion-item padding>
				    <select-searchable
				        title="Select FPO"
				        formControlName="organisation"
				        [items]="fpos"
				        itemValueField="id"
				        itemTextField="fpo_name"
				        [canSearch]="true"
				        searchColor="mdpurple">
				    </select-searchable>
				</ion-item>
				<div *ngIf="personal.controls.organisation.invalid  && (personal.controls.organisation.dirty || submitAttempt)">
		            <p *ngIf="personal.controls.organisation.errors.required">This field is required.</p>
		        </div>

		        <ion-item padding>
				    <select-searchable
				        title="Value Chain"
				        formControlName="value_chain"
				        [items]="value_chain"
				        itemValueField="id"
				        itemTextField="display_name"
				        [canSearch]="true"
				        searchColor="mdpurple">
				    </select-searchable>
				</ion-item>
				<div *ngIf="personal.controls.value_chain.invalid  && (personal.controls.value_chain.dirty || submitAttempt)">
		            <p *ngIf="personal.controls.value_chain.errors.required">This field is required.</p>
		        </div>

				<ion-item>
					<ion-label floating>User Name<span>*</span></ion-label>
					<ion-input formControlName="fname" type="text"></ion-input>
				</ion-item>
				<div *ngIf="!personal.controls.fname.valid  && (personal.controls.fname.dirty || submitAttempt)">
					<p *ngIf="personal.controls.fname.errors.required">Please enter a valid name.</p>
					<p *ngIf="personal.controls.fname.errors.maxlength">Length shoud be equal to or smaller than {{personal.controls.fname.errors.maxlength.requiredLength}}</p>
				</div>


				<ion-item padding>
				    <select-searchable
				        title="Select User"
				        formControlName="userType"
				        [items]="userType"
				        itemValueField="name"
				        itemTextField="name"
				        [canSearch]="true"
				        searchColor="mdpurple">
				    </select-searchable>
				</ion-item>
				<div *ngIf="personal.controls.userType.invalid  && (personal.controls.userType.dirty || submitAttempt)">
		            <p *ngIf="personal.controls.userType.errors.required">This field is required.</p>
		        </div>

				<ion-item>
					<ion-label floating>User Email <span>*</span></ion-label>
					<ion-input formControlName="emailId" type="text"></ion-input>
				</ion-item>
				<div *ngIf="personal.controls.emailId.pending">
	                <p>Checking ... <ion-spinner style="width: 8px; height: 10px"></ion-spinner></p>
	            </div>
				<div *ngIf="!personal.controls.emailId.pending && !personal.controls.emailId.valid  && (personal.controls.emailId.dirty || submitAttempt)">
					<p *ngIf="personal.controls.emailId.errors.required">Please enter a valid name.</p>
					<p *ngIf="personal.controls.emailId.errors.maxlength">Length shoud be equal to or smaller than {{personal.controls.emailId.errors.maxlength.requiredLength}}</p>
				</div>

				<ion-item>
					<ion-label floating>User Mobile <span>*</span></ion-label>
					<ion-input formControlName="contactno" type="number"></ion-input>
				</ion-item>
				<div *ngIf="personal.controls.contactno.pending">
	                <p>Checking mobile... <ion-spinner style="width: 8px; height: 10px"></ion-spinner></p>
	            </div>
				<div *ngIf="!personal.controls.contactno.pending && !personal.controls.contactno.valid  && (personal.controls.contactno.dirty || submitAttempt)">
					<p *ngIf="personal.controls.contactno.errors.required">Please enter a valid name.</p>
					<p *ngIf="personal.controls.contactno.errors.taken">The Mobile no. is already assigned to another user.</p>
					<p *ngIf="personal.controls.contactno.errors.maxlength || personal.controls.fpo_mobile.errors.minlength">Length shoud be 10</p>
				</div>

				<ion-item>
					<ion-label floating>User Password <span>*</span></ion-label>
					<ion-input formControlName="password" type="text"></ion-input>
				</ion-item>
				<div *ngIf="!personal.controls.password.valid  && (personal.controls.password.dirty || submitAttempt)">
					<p *ngIf="personal.controls.password.errors.required">Please enter a valid name.</p>
					<p *ngIf="personal.controls.password.errors.maxlength">Length shoud be equal to or smaller than {{personal.controls.password.errors.maxlength.requiredLength}}</p>
				</div>


				<!-- <ion-item>
				    <select-searchable
				        title="State"
				        formControlName="fpo_state"
				        [items]="states"
				        itemValueField="name"
				        itemTextField="name"
				        [canSearch]="true"
				        (onChange)="stateChange('p', $event)">
				    </select-searchable>
				</ion-item>
				<div *ngIf="personal.controls.fpo_state.invalid  && (personal.controls.fpo_state.dirty || submitAttempt)">
		            <p *ngIf="personal.controls.fpo_state.errors.required">This field is required.</p>
		        </div>

				<ion-item>
				    <select-searchable
		                title="District"
		                formControlName="fpo_district"
		                itemValueField="name"
		                itemTextField="name"
		                [items]="districts"
				        [canSearch]="true"
		                (onChange)="districtChange('p', $event)">
		            </select-searchable>
				</ion-item>
				<div *ngIf="personal.controls.fpo_district.invalid  && (personal.controls.fpo_district.dirty || submitAttempt)">
		            <p *ngIf="personal.controls.fpo_district.errors.required">This field is required.</p>
		        </div>

				<ion-item>
				    <select-searchable
		                title="Taluka"
		                formControlName="fpo_taluka"
		                itemValueField="name"
		                itemTextField="name"
		                [items]="talukas"
				        [canSearch]="true"
		                (onChange)="talukaChange('p', $event)">
		            </select-searchable>
				</ion-item>
				<div *ngIf="personal.controls.fpo_taluka.invalid  && (personal.controls.fpo_taluka.dirty || submitAttempt)">
		            <p *ngIf="personal.controls.fpo_taluka.errors.required">This field is required.</p>
		        </div>

				<ion-item>
				    <select-searchable
		                title="Village"
		                formControlName="fpo_village"
		                itemValueField="name"
		                itemTextField="name"
				        [canSearch]="true"
		                [items]="villages">
		            </select-searchable>
				</ion-item>
				<div *ngIf="personal.controls.fpo_village.invalid  && (personal.controls.fpo_village.dirty || submitAttempt)">
		            <p *ngIf="personal.controls.fpo_village.errors.required">This field is required.</p>
		        </div> -->
				
			</div>
		</ion-list>
	</form>
	<div class="list-retry" padding *ngIf="retryButton">
		<div padding class="img-error"></div>
		<h6>Oops! something went wrong.</h6>
		<div>
			<button ion-button color="light" (click)="ionViewDidLoad()">Retry</button>
		</div>
	</div>
	<ion-fab top right edge>
		<button (click)="save()" ion-fab>
			<ion-icon name="checkmark"></ion-icon>
		</button>
	</ion-fab>
</ion-content>
