<ion-header>
    <ion-navbar color="app">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Farmers</ion-title>
    </ion-navbar>
    <ion-toolbar color="app">
        <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    </ion-toolbar>
</ion-header>
<ion-content class="list-avatar-page">
    <ion-list *ngIf="!retryButton">
        <ion-list-header>Your Farmers</ion-list-header>
        <ion-item-sliding *ngFor="let farmer of items">
            <ion-item (click)="itemTapped($event, farmer)">
                <ion-avatar item-start>
                    <img src="assets/images/user.png" onerror="this.onerror=null; this.src='assets/images/user.png';">
                </ion-avatar>
                <h2 color="app">{{farmer.fm_name}}</h2>
                <p>{{farmer.fm_mobileno}}</p>
                <!-- <ion-note item-end>{{farmer.points}}</ion-note> -->

                <!-- <ion-icon *ngIf="!local_upload" name="time" color="danger" item-end></ion-icon> -->
                <ion-icon *ngIf="!local_upload" color="secondary" name="cloud-done" item-end></ion-icon>
            </ion-item>
            <ion-item-options>
                <button ion-button color="danger" icon-start (click)="deleteItem(farmer)">
                    <ion-icon name="trash"></ion-icon>
                    Delete
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <ion-fab right bottom>
        <button ion-fab color="app" (click)="goto('AddFarmerPage')">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>

    <div *ngIf="infinit_complete && items.length > 0" class="no-more-item">
        <h6>No more farmers available.</h6>
        <div>
            <button ion-button outline small color="app" (click)="goto('AddFarmerPage')">Add Farmer</button>
        </div>
    </div>
    <!-- ionic infinite loading -->
    <ion-infinite-scroll threshold="1%" (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="none">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>


    <!-- message on empty list -->
    <div *ngIf="items.length < 1" class="no-farmers">
        <img src="assets/images/farmer_list_placeholder.png">
        <h6>No farmers found!</h6>
        <div>
            <button ion-button color="app" (click)="goto('AddFarmerPage')">Add Farmer</button>
        </div>
    </div>
    
    <!-- Show retrive button on error -->
    <div class="list-retry" padding *ngIf="retryButton">
        <h6>something went wrong!</h6>
        <div>
            <button ion-button round outline large color="light" (click)="onRetryClick()">Retry</button>
        </div>
    </div>
    
</ion-content>
